*.pyc
*.so
*.dll
fastparquet/speedups.c
.coverage
.eggs
cover
build
dist
fastparquet.egg-info
.idea
.cached
/.cache
/resources/numpy-1.14.0+mkl-cp36-cp36m-win_amd64.whl
/resources/pandas-0.22.0-cp36-cp36m-win_amd64.whl
